[Desktop Entry]
Comment=Remote control for JRiver MediaCenter Servers
Name=MCWS Remote
Type=Service
icon=multimedia-player
X-KDE-PluginInfo-Author=Noee
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Email=noeerover@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=org.kde.mcwsremote
X-KDE-PluginInfo-Version=1.13.0
X-KDE-PluginInfo-Website=https://github.com/noee/mcwsplasmoid
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
#X-Plasma-DBusActivationService=org.noee.mcwsRemote
X-Plasma-MainScript=ui/main.qml
#X-Plasma-NotificationArea=true
#X-Plasma-NotificationAreaCategory=ApplicationStatus
